p{
	margin-bottom: 0;
}
h4, .h4, h5, .h5, h6, .h6 {
	display: block;
	font-family: "PT Sans",sans-serif;
	margin: 0 0 0.5em;
	line-height: 1.4;
	color: #000;
	text-transform: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.breadcrumbWrapper{
	margin-bottom: 8px;
}
.breadcrumbs{
	display: flex;
	align-items: flex-start;
	justify-content:flex-start;
	font-size: 0.6875em;
	text-transform: uppercase;
	font-weight: 600;
	font-family: "PT Sans",sans-serif;
}
.breadcrumbs p:nth-child(2n){
	color: #8e6666;
	cursor: default;
	margin-left:5px;
	margin-right:5px;
}
.breadcrumbs p:last-child{
	color:#a7a7a7;
}
.breadcrumbs a{
	color:  #4f4f4f;
	text-decoration: none;
}
.breadcrumbs a {
	color:#8285B4;
}
.aside-container{
	width: 29%;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	padding: 14px 20px;
}
.aside-container .filter-group{
	margin: auto;
}
.filter-group{
width: 90%;
}
.filter-group:not(:first-child) {
	margin-top: 20px;
}
.filter-group h4{
	border-bottom: 1px solid rgb(221, 221, 221);
}
.sale-material span:nth-child(3){
	color: red;
	font-weight: bold;
}
.sale-material img{
	width: auto;
	height: 20px;
}
.checkbox-button {
	cursor: pointer;
}

.checkbox-button {
	cursor: pointer;
	display: block;
}

/* Filter input style start*/

input[type=checkbox] {
	box-sizing: border-box;
	padding: 0;
}

input {
	font-size: 1rem;
	line-height: 1.5;
	padding: 11px 23px;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 0;
	outline: 0;
	background-color: transparent;
}

.checkbox-button__input {
	opacity: 0;
	position: absolute;
}

.checkbox-button__control {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	background-color: inherit;
	color: #017b5f;
	border: 2px solid #bb9393;
}
.checkbox-button__label{
	vertical-align: middle;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: "PT Sans",sans-serif;
}
.checkbox-button__input:checked+.checkbox-button__control:after {
	content: "";
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	background-color: #444444;
}

.checkbox-button__input:checked+.checkbox-button__control {
	border-color: #01a982;
}

.checkbox-button__control {
	transform: scale(0.75);
}
/* Filter input style finish*/
input.form-control:focus {
	border: 1px solid #ced4da;
	border-radius: .2rem;
	outline: 0;
	box-shadow: none;
}
.products-container{
	width: 69%;
	height: 200px;
	background-color: darkslategrey;
}